# Session Pooler - port 5432 via pooler host (untuk Prisma CLI)
DIRECT_URL="postgresql://postgres.[url]:[passdb]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"

# Transaction Pooler - port 6543 (untuk Next.js runtime)
DATABASE_URL="postgresql://postgres.[url]:[passdb]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"